.offset-top {
    margin-top: 70px;
}

.navbar .nav-item.active > .nav-link {
    background: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
}

.upload-form {
    position: relative;
}

.upload-form input[type="file"] {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.thumb {
    display: flex;
    border-radius: 5px;
    padding: 5px;
}

.thumb img {
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    margin: auto;
}

.thumb:hover {
    background-color: #c0ddf6;
}

.img-title {
    position: absolute;
    bottom: 12px;
    right: 20%;
    color: white;
    font-size: x-small;
}