.offset-top {
    margin-top: 70px;
}

.upload-form {
    position: relative;
}

.upload-form input[type="file"] {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.thumb-container {
    display: flex;
    border-radius: 5px;
    padding: 5px;
}

.thumb {
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    margin: auto;
}

.thumb-container:hover {
    background-color: #c0ddf6;
}

.thumb .img-title {
    text-align: center;
}